// 隐藏导航
.navbox{
        #nav_con{width:1200px;margin:0 auto;
            #nav1{
                .nav_li1{
                    .nav_pri2{display:none;}

                }
                .nav_li1:first-child{
                    &:hover {
                       .nav_pri2{display:block;}
                    }
                }
            }
        }
}

main{width:100%;
    .cen{width:1200px;margin:0 auto;
        .tit{font-size:12px;height:22px;color:#666;margin-top:8px;line-height:22px;}
        // 列表左侧
        .cen_left{width:208px;margin-right:12px;box-sizing:border-box;border:1px solid #ccc;border-top:2px solid #FE5722;
            .sidebar{
                .side_li{ border-top:1px solid #ccc;
                    .side_h4{height:30px;font-size:14px;line-height:30px;padding-left:15px;border-bottom:1px solid #ccc;
                        a{color:#686868;}
                        &:hover{
                            a{color:#FE5722;}
                        }
                    }
                    .sidebar2{ padding:5px 15px;
                        .side_li2{
                            a{display:inline-block;width:88px;height:24px;font-size:12px;line-height:24px;color:#535353;}
                            a:hover{color:#FE5722;}                
                        }
                    }
                }
            
            }
        }
        // 列表右侧样式
        .cen_right{width:980px;box-sizing:border-box;
            .det_top{width:980px;padding:0 10px;border:1px solid #ccc;box-sizing:border-box;
                h3{font-size:14px;height:30px;line-height:30px;color:#333333;border-bottom:1px dashed #ccc;}
                ul{
                    padding:10px 0;
                }

            }
            .det_cen{width:980px;padding:0 10px;border:1px solid #ccc;margin:20px 0 30px 0;box-sizing:border-box;
                h3{font-size:14px;height:30px;line-height:30px;color:#333333;border-bottom:1px dashed #ccc;}
                .band{
                    padding:13px 0;
                     p{font-size:12px;line-height:20px;padding-left:34px;
                        span{font-weight:900;}
                        a{padding:4px;color:#fff;background:#FE5722;}
                     }
                }

            }
            .det_bot{width:980px;padding:5px 10px;border:1px solid #ccc;box-sizing:border-box;border-top:2px solid #FE5722;font-size:12px;line-height:20px;
                input{outline:none;margin-right:5px;}
                #startprice{width:80px;}
                #endprice{width:80px;}
                p{height:30px;border-top:1px solid #ccc;margin-top:10px;
                    a{height:30px;line-height:30px;padding:0 15px;color:#333; border-right:1px solid #ccc;}
                }
            }
            .goodslist_cen{
                width:980px;padding:12px;
                .goods_comm{width:221px;height:322px;padding:12px;
                    a{width:221px;height:221px;border:1px solid #ccc;
                        img{width:221px;height:221px;}
                    }
                    p.title{font-size:12px;height:40px;line-height:20px;overflow:hidden;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
                    .newprice{font-size:16px;color:#FF5722;
                    }
                    .oldprice{font-size:12px;color:#B5B5B5;}

                }
                li:hover{box-shadow:-5px 5px 5px 4px #ddd;}
            }

        }
    }
}
    