header{width:100%;height:42px;background:#F9F9F9;
    .header_top{width:1180px;height:40px;margin:0 auto;
        ul{ margin:0 ;padding:0;
            li{height:42px;font-size:12px;
                line-height:42px;text-align:center;}
            .log{margin-right:39px;
                a{color:#000;}
            }
            .reg{margin-right:30px;a {color:#000;}
            }
        }   
    }
    .logo{width:1180px;height:103px;margin:0 auto;
        ul{
           margin-top:30px;height:103px;
           .logo_left{
                img{float:left;}
           }
            .logo_cen{margin-left:165px;
                
                input{float:left;width:388px;height:35px;border:2px solid #FE5722;box-sizing:border-box;border-right:none;outline:none;}
                
                button{float:left;border:none;background:#FE5722;width:95px;height:35px;text-align:center;line-height:35px;font-size:16px;color:rgba(255,255,255,0.9);outline:none;}
            }
            .logo_right{width:166px;height:35px;color:#000;font-size:14px;line-height:35px;background:#F5F5F5;text-align:center;
                span{color:#FE5722;}
            }
        }
    }
}