header{width:100%;padding:34px 0 18px 0;border-bottom:2px solid #FE5722;
    div{width:1100px;margin:0 auto;height:40px;
        h1{font-size:24px;height:40px;line-height:40px;padding-right:25px;}
        h3{font-size:24px;height:40px;line-height:40px;color:#585858;padding-left:26px;border-left:1px solid #E5E5E5;}
    }
    p{width:1100px;margin:0 auto;font-size:16px;line-height:30px;text-align:right;color:#707070;
        a{color:#FE5722;}
    }
}

// 注册表
main{width:100%;height:600px;background:#FBFBFB;padding-top:42px;
    form{width:880px;margin:0 auto;padding:50px 0 58px 0;background:#fff;
        label{display:inline-block;width:234px;text-align:right;height:42px;font-size:16px;line-height:42px;}
        input{height:42px;width:280px;margin-bottom:15px;margin-left:22px;box-sizing:border-box;outline:none;}
        #verify{width:160px;}
        em{font-size:12px;font-style:normal;height:42px;line-height:42px;padding-left:10px;
            i{color:#0658B4;}
        }
        #statement{width:13px;height:13px;margin-left:256px;}
        #agreement{display:inline-block;font-size:12px;height:42px;width:97px;text-align:left;}
        a{color:#FE5722;font-size:12px;}
        button{width:300px;height:40px;border:none;background:#FE5722;color:#fff;margin-left:240px;}
    }
}
footer{background:#fff;}