.broadside{width:35px;height:100%;position:fixed;top:0;right:0;bottom:0;
    .letter{border-left:6px solid #3B3B3B;width:200px;height:100%;background:#454545;position:absolute;top:0;right:-200px;bottom:0px;z-index:80;
        a{font-size:12px;height:35px;line-height:35px;color:rgba(255,255,255,.3);text-align:left;padding-left:20px;}
        p{font-size:14px;height:14px;line-height:14px;color:rgba(255,255,255,.5);text-align:left;padding-left:16px;}
        
    }
    .nav_right{width:36px;height:107px;position:fixed;top:50%;right:0px;transform:translateY(-50%);z-index:100px;
        li{position:relative;list-style:none;
            a{display:block;margin-top:1px;background:#3B3B3B;width:35px;height:35px;text-align:center;line-height:35px;position:relative;z-index:100;
                // 字体图标
                .icon {width: 20px; height: 20px;vertical-align: -0.15em;fill: currentColor;overflow: hidden;color:#fff;border:none;
                }
            }
            span{display:block;width:70px;height:35px;position:absolute;top:0;left:0;color:#fff;font-size:12px;line-height:35px;background:#3B3B3B;text-align:center;
                z-index:10;
            }

        }
        li:hover{
            a{background:#FC5416;}
            span{top:0;left:-70px;background:#FC5416;}
        }
    }
    // 返回顶部
    .return_top{height:35px;width:35px;position:fixed;bottom:0;right:0;line-height:35px;text-align:center;
        span{position:relative;display:block;width:35px;height:35px;background:#3B3B3B;color:#fff;text-align:center;cursor:pointer;z-index:100;
            
        }
       div{background:#3B3B3B;color:#fff;height:35px;width:70px;position:absolute;top:0;left:0;cursor:pointer;z-index:50;}
    }
    .return_top:hover{
            span{background:#FC5416;}
            div{background:#FC5416;}

    }
}
// 留言区
.message{position:fixed;bottom:0;right:140px;
    .newhide{
        width:320px;height:480px;background:#F2F3F5;display:none;
        h4{width:320px;height:60px;background:#007AFF;font-size:12px;line-height:60px;color:#fff;padding-left:17px;box-sizing:border-box; 
        i {cursor:pointer;}  
        }
        p{font-size:12px;line-height:20px;margin-top:15px;color:#666;padding-left:17px;margin-bottom:9px;}
        label{display:block;font-size:12px;height:32px;line-height:32px;margin-top:7px;padding-left:17px;
            span{color:red;padding-left:5px;}}
        input{width:320px;border:none;outline:none;height:40px;text-indent:17px;}
        textarea{width:316px;height:88px;text-indent:17px;outline:none;border:none;}
        button{width:288px;height:43px;background:#007AFF;margin-left:17px;color:#fff;margin-top:26px;border:none;outline:none;cursor:pointer;border-radius:5px;}
        em{  text-align:center;font-style:normal;width:320px;display:block;margin-top:46px;
            a{font-size:12px;color:#666;}
        }
    }
    .newshow{width:320px;height:42px;background:#007AFF;line-height:42px;padding-left:12px;color:#fff;font-size:16px;cursor:pointer;width:224px;
        
    }
}