.fl { float: left; }

.fr { float: right; }

.clearfix::after { content: ""; height: 0; clear: both; display: block; overflow: hidden; visibility: hidden; }

.icon { width: 20px; height: 20px; vertical-align: -0.15em; fill: currentColor; overflow: hidden; border: 1px solid #ccc; border-radius: 2px; padding: 5px; }

a { text-decoration: none; }

li { list-style: none; }

body, ul, dl, dt, dd, p, h4, h3, h2, h1 { margin: 0; padding: 0; }
