.navbox #nav_con { width: 1200px; margin: 0 auto; }

.navbox #nav_con #nav1 .nav_li1 .nav_pri2 { display: none; }

.navbox #nav_con #nav1 .nav_li1:first-child:hover .nav_pri2 { display: block; }

.understock { width: 350px; height: 52px; background: #FFF5F3; border: 1px solid #FF5722; position: fixed; top: 56px; left: 540px; font-size: 12px; line-height: 52px; text-align: center; color: #FF5722; display: none; }

main { width: 1200px; margin: 0 auto; }

main .marked { font-size: 12px; height: 38px; line-height: 38px; }

main .Wares { width: 412px; height: 496px; }

main .Wares .wares_top { width: 412px; height: 412px; border: 1px solid #ccc; }

main .Wares .wares_top img { width: 410px; height: 410px; }

main .Wares ul { height: 84px; width: 412px; }

main .GoodsInfo { width: 580px; height: 496px; padding: 0 21px 0 32px; }

main .GoodsInfo h3 { font-size: 18px; line-height: 28px; color: #333; font-weight: normal; margin-bottom: 4px; }

main .GoodsInfo .price { height: 104px; background: #E8E8EA; padding-left: 20px; padding-top: 20px; }

main .GoodsInfo .price li { font-size: 12px; color: #666; line-height: 14px; }

main .GoodsInfo .price li .oldprice { font-size: 14px; }

main .GoodsInfo .price li .nowprice { font-size: 24px; line-height: 54px; color: #FF5722; }

main .GoodsInfo .site { font-size: 12px; line-height: 44px; color: #333; }

main .GoodsInfo .sa_com { height: 40px; border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc; margin-bottom: 7px; font-size: 12px; }

main .GoodsInfo .sa_com .sales { width: 264px; height: 40px; line-height: 40px; text-align: center; border-right: 1px solid #ccc; }

main .GoodsInfo .sa_com .sales span { color: #FF5722; }

main .GoodsInfo .sa_com .comment { width: 271px; height: 40px; line-height: 40px; text-align: center; }

main .GoodsInfo .sa_com .comment span { color: #FF5722; }

main .GoodsInfo .package { height: 38px; font-size: 12px; line-height: 38px; padding-left: 13px; }

main .GoodsInfo .package span { width: 47px; height: 38px; line-height: 38px; text-align: center; }

main .GoodsInfo .numbe_s { padding-left: 13px; font-size: 12px; line-height: 40px; height: 40px; margin-top: 38px; }

main .GoodsInfo .numbe_s input { width: 98px; text-align: center; height: 40px; outline: none; }

main .GoodsInfo .numbe_s .reportory { color: #ccc; margin-left: 10px; }

main .GoodsInfo .btn { margin-top: 38px; padding-left: 21px; }

main .GoodsInfo .btn li { width: 200px; height: 40px; text-align: center; line-height: 40px; box-sizing: border-box; margin-right: 16px; }

main .GoodsInfo .btn .buy { border: 2px solid #FF5722; color: #FF5722; }

main .GoodsInfo .btn .cart { background: #FF5722; color: #fff; }

.comments_new { width: 1200px; margin: 43px auto; }

.comments_new .Recommend_products { width: 210px; }

.comments_new .Recommend_products h3 { width: 210px; height: 52px; line-height: 52px; text-align: center; border: 1px solid #ccc; color: #333; font-size: 16px; font-weight: normal; }

.comments_new .commen { margin-left: 10px; width: 980px; border: 1px solid #ccc; box-sizing: border-box; }

.comments_new .commen li { width: 130px; height: 42px; text-align: center; cursor: pointer; }

.comments_new .commen li span { border-right: 1px solid #333; display: inline-block; width: 130px; font-size: 12px; height: 12px; margin-top: 15px; line-height: 12px; }

.correlative { width: 1200px; height: 300px; margin: 0 auto; border: 1px solid #ccc; margin-bottom: 30px; }

.correlative .corre { width: 1200px; height: 52px; font-size: 14px; line-height: 52px; padding-left: 16px; color: #333; margin-right: 10px; }

.correlative .corres .comm { width: 160px; height: 247px; margin: 0 10px; }

.correlative .corres .comm a img { width: 160px; height: 160px; }

.correlative .corres .comm p { font-size: 12px; line-height: 18px; }

.correlative .corres .comm .newprice { display: block; width: 160px; font-size: 12px; line-height: 12px; text-align: center; color: #FF5722; }
