@charset "UTF-8";
/* 头部样式 */
header { width: 100%; }

header .header { width: 100%; background: #F9F9F9; height: 42px; }

header .header .header_top { width: 1180px; height: 42px; margin: 0 auto; }

header .header .header_top ul { margin: 0; padding: 0; }

header .header .header_top ul li { height: 42px; font-size: 12px; line-height: 42px; text-align: center; }

header .header .header_top ul .log { margin-right: 39px; }

header .header .header_top ul .log a { color: #000; }

header .header .header_top ul .reg { margin-right: 30px; }

header .header .header_top ul .reg a { color: #000; }

header .logo { width: 1180px; height: 103px; margin: 0 auto; background: #fff; }

header .logo ul { padding-top: 30px; height: 103px; box-sizing: border-box; }

header .logo ul .logo_left img { float: left; }

header .logo ul .logo_cen { margin-left: 165px; }

header .logo ul .logo_cen input { float: left; width: 388px; height: 35px; border: 2px solid #FE5722; box-sizing: border-box; border-right: none; outline: none; }

header .logo ul .logo_cen button { float: left; border: none; background: #FE5722; width: 95px; height: 35px; text-align: center; line-height: 35px; font-size: 16px; color: rgba(255, 255, 255, 0.9); outline: none; }

header .logo ul .logo_right { width: 166px; height: 35px; color: #000; font-size: 14px; line-height: 35px; background: #F5F5F5; text-align: center; }

header .logo ul .logo_right span { color: #FE5722; }

/* -----------------尾部样式---------------- */
footer { width: 100%; background: #616161; padding: 30px 0; }

footer .footer_nav { width: 1200px; margin: 0 auto; box-sizing: border-box; overflow: hidden; }

footer .footer_nav dl { width: 200px; }

footer .footer_nav dl dt { color: #E0E0E0; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; }

footer .footer_nav dl dd { font-size: 14px; height: 24px; line-height: 24px; }

footer .footer_nav dl dd a { color: #E0E0E0; }

footer .footer_nav dl dd a:hover { color: #ff5722; }

footer .Copyright { width: 100%; padding-top: 10px; }

footer .Copyright p { text-align: center; font-size: 12px; color: #8D8D8D; margin-top: 5px; }

footer .Copyright p a { font-size: 12px; line-height: 20px; color: #BDBDBD; }

footer .Copyright p img { margin: 0 auto; }

/* -------------导航样式-------------------- */
nav { width: 100%; border-bottom: 2px solid #FE5722; }

nav #nav_con { width: 1180px; margin: 0 auto; }

nav #nav_con #nav1 .nav_li1 { height: 42px; line-height: 42px; }

nav #nav_con #nav1 .nav_li1 .a1 { padding: 0 25px; color: #333; font-size: 16px; }

nav #nav_con #nav1 .nav_li1:hover { background: #FF7043; }

nav #nav_con #nav1 .nav_li1:hover .a1 { color: #fff; }

nav #nav_con #nav1 .nav_li1:first-child { background: #FE5722; position: relative; }

nav #nav_con #nav1 .nav_li1:first-child .a1 { color: #fff; padding: 0 62px; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 { height: 400px; position: absolute; top: 44px; left: 0; z-index: 10; background: #fff; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 { width: 220px; height: 40px; padding-left: 15px; box-sizing: border-box; line-height: 40px; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 .a2 { font-size: 14px; color: #333; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 .nav_pri3 { width: 740px; height: 400px; position: absolute; top: 0; left: 220px; background: #fff; z-index: 999; display: none; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 .nav_pri3 .nav3_left { width: 470px; height: 400px; padding-top: 16px; box-sizing: border-box; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 .nav_pri3 .nav3_left li { width: 470px; padding-left: 20px; line-height: 42px; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 .nav_pri3 .nav3_left li .h4_a { font-size: 12px; height: 42px; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 .nav_pri3 .nav3_left li .h4_a a { color: #333; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 .nav_pri3 .nav3_left li .nav_list { margin-left: 30px; width: 370px; line-height: 42px; font-size: 12px; box-sizing: border-box; border-bottom: 1px dashed #ccc; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 .nav_pri3 .nav3_left li .nav_list a { padding: 0 5px; color: #666; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 .nav_pri3 .nav3_left li .nav_list a:hover { color: #ff5722; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 .nav_pri3 .nav3_right { padding: 10px; width: 270px; box-sizing: border-box; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 .nav_pri3 .nav3_right a { width: 100px; height: 40px; margin: 20px 0 0 20px; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2 .nav_pri3 .nav3_right a img { width: 100px; height: 40px; float: left; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .liebiao2 { background: rgba(200, 200, 200, 0.3); }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2:hover { background: #FF7043; }

nav #nav_con #nav1 .nav_li1:first-child .nav_pri2 .nav_li2:hover .a2 { color: #fff; }

.main { background: #F3F3F3; }

.main .carousel { position: relative; }

.main .carousel ul { width: 100%; height: 400px; position: relative; }

.main .carousel ul li { width: 100%; height: 400px; position: absolute; top: 0; left: 0; display: none; }

.main .carousel ul li img { width: 100%; height: 400px; }

.main .carousel .point { padding: 5px; background: rgba(200, 200, 200, 0.5); position: absolute; top: 85%; left: 50%; border-radius: 5px; }

.main .carousel .point span { display: inline-block; width: 12px; height: 12px; border-radius: 50%; background: #fff; margin-left: 10px; line-height: 22px; }

.main .carousel .point .cur { background: #FF0000; }

.main .scare { width: 1180px; margin: 20px auto; }

.main .scare .main_top { height: 180px; }

.main .scare .main_top li { margin-left: 20px; }

.main .scare .main_top li img { width: 280px; height: 180px; }

.main .scare .main_top li:first-child { margin-left: 0; }

.main .scare .rush { height: 365px; width: 1180px; box-sizing: border-box; margin-top: 20px; }

.main .scare .rush ul { width: 940px; background: #fff; height: 365px; padding-left: 16px; padding-top: 16px; box-sizing: border-box; }

.main .scare .rush ul h4 { font-size: 18px; height: 18px; line-height: 18px; }

.main .scare .rush ul h4 span { font-weight: normal; margin-left: 750px; font-size: 14px; }

.main .scare .rush .rush_r { background: #fff; width: 220px; height: 365px; }

.main .scare .new_arrival { width: 1180px; height: 368px; background: #fff; margin-top: 20px; }

.main .scare .new_arrival h4 { font-size: 18px; height: 54px; line-height: 54px; width: 195px; text-align: center; color: #FF5722; border-top: 2px solid #FF5722; box-sizing: border-box; }

.main .central { width: 1180px; margin: 0 auto; }

.main .central p { width: 1180px; height: 50px; padding-left: 44px; font-size: 18px; line-height: 50px; color: #333; box-sizing: border-box; }

.main .central p a { font-size: 14px; line-height: 50px; float: right; color: #333333; margin-right: 16px; }

.main .central p a:hover { color: #FF5722; }

.main .central .cen_right { width: 220px; height: 600px; background: #fff; }

.main .central .cen_left { width: 220px; height: 600px; }

.main .central .cen_mid { width: 740px; height: 600px; }

.main .central .child { width: 1180px; }

.main .central .child .cen_right p { font-size: 16px; height: 50px; line-height: 50px; padding-left: 20px; color: #FF5722; }

.main .central .hairdress .cen_right .bandright { width: 220px; height: 290px; }

.main .central .hairdress .cen_right .mrright { margin-top: 20px; width: 220px; height: 290; }

.main .central .food .cen_left a:nth-child(2) { display: block; margin-top: 18px; }

.main .central .home .cen_left a:nth-child(2) { display: block; margin-top: 18px; }

.main .central .home .cen_right li { margin-bottom: 20px; }

.main .central .home .cen_right li:last-child { margin-bottom: 0; }

.main .central .appliances .cen_right .sm_righttop { width: 220px; height: 290px; }

.main .central .appliances .cen_right .sm_rightbut { margin-top: 20px; width: 220px; height: 290px; }

.main .central .food .cen_right li { margin-bottom: 20px; }

.main .central .food .cen_right li:last-child { margin-bottom: 0; }

.main .central .brand { width: 1180px; height: 90px; margin: 18px 0; }

.main .hobby { width: 1180px; height: 342px; margin: 0 auto; }

.main .hobby p { height: 42px; width: 1180px; font-size: 18px; line-height: 24px; text-align: center; }

.main .hobby ul { width: 1180px; height: 300px; background: #fff; }

.main .new { width: 1180px; margin: 30px auto; }

.main .new ul { height: 340px; }

.main .new ul .new_p { width: 440px; height: 340px; }

.main .new ul .storenew { width: 290px; height: 340px; border-right: 1px solid #ccc; box-sizing: border-box; }

.main .new ul .storenew h4 { padding: 19px 0 0 32px; color: #333; }

.main .new ul .unboxing { width: 450px; height: 340px; }

.main .new ul .unboxing h4 { padding: 19px 0 0 32px; color: #333; }
