header { width: 100%; padding: 34px 0 18px 0; height: 100px; box-sizing: border-box; }

header div { width: 1100px; margin: 0 auto; }

header div h1 { font-size: 24px; height: 40px; line-height: 40px; padding-right: 25px; }

header div h3 { font-size: 24px; height: 40px; line-height: 40px; color: #585858; padding-left: 26px; border-left: 1px solid #E5E5E5; }

main { width: 100%; height: 440px; background: #FE3F37; position: relative; }

main .picture { width: 1190px; height: 440px; margin: 0 auto; }

main .table { width: 360px; height: 380px; background: #fff; position: absolute; top: 40px; right: 210px; padding: 30px 28px 28px 28px; box-sizing: border-box; }

main .table .log_p1 { font-size: 18px; color: #313131; height: 18px; line-height: 18px; margin-bottom: 5px; }

main .table .log_p1 a { font-size: 12px; margin-left: 170px; color: #268BF3; line-height: 18px; }

main .table input { width: 100%; height: 40px; box-sizing: border-box; outline: none; margin-top: 18px; }

main .table #automatic { width: 14px; height: 14px; }

main .table label { font-size: 12px; height: 18px; line-height: 18px; color: #313131; }

main .table #find { color: #313131; margin-left: 150px; font-size: 12px; line-height: 18px; }

main .table button { width: 300px; height: 40px; background: #FF5500; color: #fff; border: none; font-size: 18px; margin-top: 32px; }

main .table .log_p2 { font-size: 12px; height: 32px; line-height: 32px; color: #ACACAC; margin-top: 10px; }

footer.login { background: #fff; }
